.header {
  display: flex;
  flex-direction: column;
  padding: 1em ;
  padding-top: .5em;
  padding-bottom: 0;
  margin-bottom: 30px;

  span {
    background-color: #d37577;
    width: 30px;
    height: 40px;
    padding: 2px 5px;
    display: flex;
    margin-bottom: 24px;
    padding-bottom: 0;
    border-radius: 6px;
    ion-icon {
      margin: auto auto;
      font-size: 20px;
      color: #fff;
    }
  }
  ion-text {
    font-family: 500;
    font-size: 35px;
    color: #211f20;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h3 {
    color: #8a8b8b;

    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.main-container {
font-family: 'Roboto', sans-serif !important;
  height: 10%;
  min-height: 100%;
  margin-top: 0;
  padding-top: 0;
  ion-slides {
    margin: 0;
    padding: 0;
    height: 100%;
    ion-slide {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      min-height: 100%;
    
    }
  }
  .main-content {
  
    padding: 0em 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    overflow-x: scroll;
    .logo {
      margin-left: auto;
      margin-right: auto;
      width: 180px;

      margin-top: 35%;

      img {
        width: 100%;
        height: 100px;
        border-radius: 10px;
      }
    }
    .welcome-info {
      margin-top: 35%;
      text-align: center;
      h1 {
        font-weight: 400;
        font-size: 35px;
      }
      h5 {
        margin-top: -0.5px;
        font-weight: normal;
        color: #4F5255;
      }
    }
    .continue-as {
      margin-top: 35%;
      display: grid;
      grid-template-columns: 30% 40% 30%;
      .line {
        height: 1px;
        background-color: #444746;
        margin-top: auto;
        margin-bottom: auto;
      }
      .text {
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        color: #444746;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      flex-shrink: 0;
      width: 100%;
      .button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-shrink: 0;
        height: 50px;
        width: 100%;
        gap: 10px;
        color: #4F5255;
        background-color: #fff;
        box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
        -webkit-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
        -moz-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
        border-radius: 10px;
        ion-text {
          margin-left: 5px;
          font-weight: 400;
          margin-top: auto;
          margin-bottom: auto;
        }
        ion-icon {
          font-size: 20px;
          display: none;
        }
      }
    }

    //Slide Form
  }
}


.main-content-2 {

  text-align: left;
  padding: 0em;
  flex-direction: column;

margin-top: 0;
padding-top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  // background-color: #EBFEF2;
padding-bottom: 0 !important;
margin-bottom: 0;

  .form {
    width: 100%;
    padding: 1em;
    padding-top: 0;
    ion-item {
      margin-top: 20px;
      border-radius: 10px;
      background-color: #d37577;
      ion-label {
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        z-index: 8888888888888;
      }
      ion-input,
      ion-textarea {
        color: #fff;
      }
    }

    .purpose {
      display: flex;
      gap: 5px;

      color: #211f20;
      margin-top: -5px;
      padding-bottom: 10px;
      overflow: scroll;
      span {
        border: 1px solid #211f20;
        border-radius: 10px;
        font-size: 10px;

        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
      #true {
        display: none;
      }
    }

   
  }
}

#login, #signin {
margin-top: 80px;
  width: 100%;
margin-left: auto;
margin-right: auto;
  text-align: center;
  height: 50px;
  width: 100%;
  gap: 10px;
  color: #037b2f;
  background-color: #fff;
   box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
        -webkit-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
        -moz-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
  border-radius: 10px;
  ion-label{
    color:#4F5255;
   // font-weight: 500;
    font-size: 18px;
  }
  ion-text {
    margin-left: 5px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.main-content-3 {
  padding: .3em;
  padding-top: 0.4;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
min-height: 100%;
  text-align: left;


  .login-btns{
    position: fixed;
    margin-top: auto;
    bottom: 10px;
    display: grid;
 grid-template-columns: auto auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
 
    padding: 1em;
  
    gap: 20px;
    justify-content: center;
  }
  #logout, #joinus {
    flex-shrink: 0;
    margin-top:100px;
   background-color: white;
   // width: 40%;
  
    margin-bottom: 10px;
      text-align: center;
    border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
      -webkit-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
      -moz-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
      ion-label {
        font-weight: 500;
        color: #fff;
      }
  }



.over-view{
width: 100%;
 position: relative;
 padding: 1em;
 padding-top: 0;


  .timers{
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    width: 100%;

gap: 10px;
  .timer{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
      color: #211f20;
      .time{
        font-size: 14px;
        
        font-weight: 500;
    color: #4F5255;
      }
    }
  }
}


}

.bottom-area{
  position: static;
  margin-top: auto;

  height: 50%;
}

#done{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;



width: 100%;
height: 50%;
img{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}
h4{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: #4F5255;

}
}




.form-element{
  .header{
    display: flex;
    flex-direction: row;
    img{
      width: 90px;
      height: 50px;
      border-radius: 10px;
    }
    ion-text{
      font-size: 17px;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
      color: #4F5255;
      display: none;
    }
  }
  .form{
    padding: 1em;
    margin-top: -20px;
    ion-text{
      font-size: 16px;
      font-weight: bold;
      color: #fff;
    }
    ion-item{
      border-radius: 10px;
      background-color: #ebfef2;
      margin-top: 10px;
      color:#4F5255;
      img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      ion-label{
        font-size: 15px;
        margin-left: 10px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

.clockout{
  .form{
    margin-top: -30px;
    text-align: center;
    #label{
      margin-top: 60px;
     
    }
    ion-item{
     margin-top: 20px;
      text-align: center;
      ion-label{
        margin-left: 0;
      }
    }
  }
 
}

#video{
  width: 100% !important;
  height: 100%;
  min-height: 100%;
  border-radius: 20px !important;
}
.video{
  width: 100%;

  border-radius: 20px;
  background-color: rgb(221, 144, 145);
  padding: 1em;
  ion-item{
    border-radius: 10%;
    margin-top:20px;
 
  }

  #joinus {
   background-color: white;
    margin-bottom: 20px;
      text-align: center !important;
    border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
      -webkit-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
      -moz-box-shadow: 0px 0px 4px 1px rgb(211, 117, 119);
      ion-label {
        font-weight: 500;
        color: #fff;
        text-align: center !important;
      }
  }

  ion-input {
    color: #211f20;
  }
}
#qrslide{
  padding: 1em;
  display: flex;
  flex-direction: column;
 
}


@media screen and (max-height: 631px) {
  .main-container {
      .main-content {
        .logo {
          margin-top: 10%;
        }
        .welcome-info {
          margin-top: 25%;
        }
        .continue-as {
          margin-top: 25%;
        }
      }
    }

  
}


@media screen and (max-height:456px) {

}

